.ipynb_checkpoints/Sentiment Analyse mit TextBlob-checkpoint.ipynb
  Graph_Avatar.png
  Senti Net/__pycache__/getData.cpython-36.pyc
  Senti Net/__pycache__/getSentiment.cpython-36.pyc
  Senti Net/__pycache__/getText.cpython-36.pyc
  Senti Net/__pycache__/graphMalen.cpython-36.pyc
  Senti Net/__pycache__/helpFunction.cpython-36.pyc