-e git+https://git.informatik.uni-leipzig.de/vp38kaqy/figurennetzwerk.git@ef7e2824a555ae473d0d2d2c905a9e46a4cf8e22#egg=App&subdirectory=App
beautifulsoup4==4.8.0
blis==0.2.4
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cymem==2.0.2
decorator==4.4.0
Flask==1.1.1
freeze==1.0.10
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
murmurhash==1.0.2
networkx==2.3
numpy==1.17.1
plac==0.9.6
preshed==2.0.1
requests==2.22.0
six==1.12.0
soupsieve==1.9.3
spacy==2.1.8
spacy-sentiws==0.0.6
srsly==0.1.0
thinc==7.0.8
tqdm==4.35.0
urllib3==1.25.3
wasabi==0.2.2
Werkzeug==0.15.6
