<!DOCTYPE html>
<meta charset="utf-8">
<script src="http://d3js.org/d3.v3.js"></script>
<style>

body {
  background-color: #81aef7;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;


}

svg {
  background-color: white;
  border-radius: 25px;
  position: absolute;
  left: 550px;
  top: -5px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

}

.legend {
  background-color: "green";
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 15px sans-serif;
  pointer-events: all;
}


</style>
<body>
<script>

// get the data
var data = {{ data | tojson | safe }};
var nodes = {{ data.nodes | safe }};
var links = {{ data.links | safe }};

/*var margin  = {top: 240, right: 5, bottom: 5, left: 100},
    width   = 1400-margin.left-margin.right,
    height  = 900-margin.top-margin.bottom;*/

var width = 600,
    height = 600;

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

var force = d3.layout.force()
    .size([width, height])
    .linkDistance(200)
    .charge(-800)
    .on("tick", tick);

force
    .nodes(nodes)
    .links(links)
    .start();

// build the arrow.
svg.append("svg:defs").selectAll("marker")
    .data(["end"])      // Different link/path types can be defined here
  .enter().append("svg:marker")    // This section adds in the arrows
    .attr("id", String)
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 15)
    .attr("refY", -1.5)
    .attr("markerWidth", 6)
    .attr("markerHeight", 6)
    .attr("orient", "auto")
    .style("fill", "lightgray")
  .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5");

// add the links and the arrows
var path = svg.append("svg:g").selectAll("path")
    .data(force.links())
  .enter().append("svg:path")  
    .attr("class", "link")
    .attr("marker-end", "url(#end)")
    .style("stroke", pathColour);

function pathColour(d){
  if (d.weight > 0){
    return "green"
  } else {
    return "red"
  }
}

// define the nodes
var node = svg.selectAll(".node")
    .data(force.nodes())
  .enter().append("g")
    .attr("class", "node")
    .call(force.drag);

// add the nodes
node.append("circle")
    .attr("r", 15)
    .style("fill", circleColour);

function circleColour(d) {
  if(d.sex == "FEMALE"){
    return "blue";
  } else {
    return "pink";
  }
}

// add the text 
node.append("text")
    .attr("x", 12)
    .attr("dy", ".35em")
    .text(function(d) { return d.name; });

// add the curvy lines
function tick() {
    path.attr("d", function(d) {
        var dx = d.target.x - d.source.x,
            dy = d.target.y - d.source.y,
            dr = Math.sqrt(dx * dx + dy * dy);
       /* return "M" + 
            d.source.x + "," + 
            d.source.y + "A" + 
            dr + "," + dr + " 0 0,1 " + 
            d.target.x + "," + 
            d.target.y; */
        
        const conincidentLines = false;
        if (conincidentLines) {
          return "M" + 
            d.source.x + "," + 
            d.source.y + "L" + 
            d.target.x + "," + 
            d.target.y;
        }
        else {
          delta = calcTranslationExact(4, d.source, d.target);
          var rightwardSign = d.target.x > d.source.x ? 1 : -1;
          return "M" + 
              (d.source.x + rightwardSign * delta.dx) + "," + 
              (d.source.y + (-rightwardSign * delta.dy)) + "L" + 
              (d.target.x + rightwardSign * delta.dx) + "," + 
              (d.target.y + (-rightwardSign * delta.dy));
        }
    });

    node
        .attr("transform", function(d) { 
        return "translate(" + d.x + "," + d.y + ")"; });
}


function calcTranslationExact(targetDistance, point0, point1) {
    var x1_x0 = point1.x - point0.x,
      y1_y0 = point1.y - point0.y,
      x2_x0, y2_y0;
    if (y1_y0 === 0) {
      x2_x0 = 0;
      y2_y0 = targetDistance;
    } else {
      var angle = Math.atan((x1_x0) / (y1_y0));
      x2_x0 = -targetDistance * Math.cos(angle);
      y2_y0 = targetDistance * Math.sin(angle);
    }
    return {
      dx: x2_x0,
      dy: y2_y0
    };
  }

</script>
</body>
</html>
